---
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

import Layout from "../layouts/Layout.astro";
import en from "../i18n/en.json";

// Get the current language from the parameters
const { params } = Astro;
const lang = "en"; // Default to English
const translations = en;
---

<Layout title={translations["home.page.title"]} lang={lang}>
  <main class="blog-main-cnt"></main>
</Layout>

<style>
  .blog-main-cnt {
    height: 100vh;
  }
</style>
