---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home - 404 Blog">
	<main class="blog-main-cnt">
	</main>
</Layout>

<style>
	.blog-main-cnt{
		height: 100vh;
		background-color: var(--color-deep-navy);
	}
</style>
